.card {
	border:1px solid red;
	margin-bottom: 5px;
	border-radius: 10px;
}

.hidden {
	visibility: hidden;
	margin-bottom:1em;
}

/*.navbar {
	opacity:.5;
}*/


.dark {
    color: red;
}

.logo {
    height: 80px;
}

#messageBoard {
    word-wrap: break-word;
}

.darkTheme {
    background-image: url(dmxx.jpg);
    color:whitesmoke;
}

.focused {
    font-size: 2em;
}

.af {
    background-color: #fd723e; 
    opacity: .8;
}
.as {
    background-color:#666F7F;
    opacity: .5;
}

@media (max-width: 1000px) {
    .fixed-top {
        position:static;
    }
    .hidden, nav {
        margin-bottom:0;
    }
    .hidden {
        position:fixed;
    }
}

.dark {
    border: solid orange 3px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
}
.large {
    border: solid orange 3px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
}

.form-control{
    width: 40%;
}

input[type="checkbox"]{
    display: inline-block;
    margin-left: 1em;
}



