.card {
	border:1px solid red;
}

.hidden {
	visibility: hidden;
	margin-bottom:1em;
}

.navbar {
	opacity:.5;
}


.dark {
    color: red;
}

.logo {
    height: 80px;
}

#messageBoard {
    word-wrap: break-word;
}

.darkTheme {
    background-image: url(dmxx.jpg);
    color:whitesmoke;
}

.focused {
    font-size: 2em;
}

.af{
    background-color: #fd723e; 
    opacity: .5;
}
.as {
    background-color:#666F7F;
    opacity: .5;
}