.card {
	border:1px solid black;
	margin-bottom: 5px;
	border-radius: 10px;
}

.hidden {
	visibility: hidden;
	margin-bottom:1em;
}

.dark {
    color: red;
}
.grey{
	background-color: grey;
	opacity: .7;
	color:whitesmoke;
}

.logo {
    height: 80px;
}

#messageBoard {
    word-wrap: break-word;
}

.darkTheme {
    background-image: url(dmxx.jpg);
    
}

.focused {
    font-size: 2em;
}

.af {
    background-color: #fd723e; 
    opacity: .8;
}
.as {
    background-color:#666F7F;
    opacity: .5;
}

@media (max-width: 1000px) {
    .fixed-top {
        position:static;
    }
    .hidden, nav {
        margin-bottom:0;
    }
    .hidden {
        position:fixed;
    }
}

.dark {
    border: solid orange 3px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
}
.large {
    border: solid orange 3px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
}

.form-control{
    width: 40%;
}

input[type="checkbox"]{
    display: inline-block;
    margin-left: 1em;
}

#user{
	display:inline-block;
	background-color: black;
	border-radius:4px;
	color:white;
	font-weight:bolder;
	padding-left:1em;
	padding-right:1em;
	opacity:.8;
}
ul {
	display:inline-block;
}
html {
	overflow-y:auto;
}
.modal {
	background-color:rgba(237, 186, 33,0.3);
	overflow-y:scroll;
}
.modal-open {
	overflow:auto;
}
.clearfix {
	display:inline-block;
}

.fades {
   opacity: 1;
   transition: opacity .5s ease-in-out;
   }

.fades:hover {
      opacity: 0.5;
}

